<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <div class="logo-container">
            
          </div>
        <p class="logo-title pure-menu-heading"> {{title}}</p>
        <div>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"> <a href="" class="pure-menu-link">{{homename}}</a></li>
                <li *ngFor="let feature of features" class="pure-menu-item"> 
                    <a href="{{feature2path(feature)}}" class="pure-menu-link">{{feature}}</a>
                </li>    
            </ul>
        </div>
    </div>
  </div>